@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
.bg-primary {
  background-color: #212529 !important;
}

.bg-dark {
  background-color: #fff !important;
}

.bg-light {
  background-color: #fff !important;
}

.sandstone, .navbar .nav-link, .btn, .nav-tabs .nav-link, .nav-pills .nav-link, .breadcrumb, .pagination, .dropdown-menu .dropdown-item, .tooltip {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-form input,
.navbar-form .form-control {
  border: none;
}

.btn {
  background-color: #dfdfdf;
  padding: 5px 15px;
  line-height: 25px;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn:hover {
  border-color: transparent;
}

.btn-success, .btn-warning {
  color: #fff;
}

.btn-my:hover {
  color: #fff;
  background-color: #00b8dd;
}

.table .thead-dark th {
  background-color: #212529;
}

.nav-tabs .nav-link {
  background-color: #F8F5F0;
  border-color: #dfdfdf;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: #00b8dd;
}

.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  background-color: #F8F5F0;
  border-color: #dfdfdf;
  color: #dfdfdf;
}

.nav-pills .nav-link {
  border: 1px solid transparent;
  color: #00b8dd;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  background-color: #f7f7f7;
  border-color: #00b8dd;
}

.nav-pills .nav-link.disabled,
.nav-pills .nav-link.disabled:hover {
  background-color: transparent;
  border-color: transparent;
  color: #dfdfdf;
}

.breadcrumb {
  border: 1px solid #dfdfdf;
}

.pagination a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f7f7f7;
}

.alert {
  color: #fff;
}

.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}

.alert-primary,
.alert-primary > th,
.alert-primary > td {
  background-color: #00b8dd;
}

.alert-secondary,
.alert-secondary > th,
.alert-secondary > td {
  background-color: #fff;
}

.alert-success,
.alert-success > th,
.alert-success > td {
  background-color: #93C54B;
}

.alert-info,
.alert-info > th,
.alert-info > td {
  background-color: #29ABE0;
}

.alert-danger,
.alert-danger > th,
.alert-danger > td {
  background-color: #d9534f;
}

.alert-warning,
.alert-warning > th,
.alert-warning > td {
  background-color: #F47C3C;
}

.alert-dark,
.alert-dark > th,
.alert-dark > td {
  background-color: #212529;
}

.alert-light,
.alert-light > th,
.alert-light > td {
  background-color: #fff;
}

.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #fff;
}

.badge-success, .badge-warning {
  color: #fff;
}

.close {
  color: #dfdfdf;
  opacity: 1;
}

.close:hover {
  color: #acacac;
}

.navbar .navbar-toggler {
  border: 0;
  padding: 10px 5px 10px 3px;
  cursor: pointer;
}

.navbar .navbar-brand {
  width: 200px;
}

.navbar .navbar-brand img {
  width: 80%;
}

.navbar .nav-item > .nav-link.active {
  color: #00b8dd !important;
}

.navbar .nav-link,
.navbar .dropdown-item {
  color: #212529 !important;
  font-size: .8rem;
}

.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #00b8dd !important;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../image/home-office.jpg");
  background-attachment: fixed;
  background-position: center;
  background-origin: border-box;
}

.hero h1 {
  font-size: 2.5rem;
  color: #fff;
}

.hero .carousel {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #00b8dd;
  background: rgba(0, 0, 0, 0.8);
}

.hero .carousel-inner,
.hero h2 {
  text-align: left;
}

.hero .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #00b8dd;
}

.hero .carousel-item {
  width: 100%;
  padding: 20px;
}

.about {
  min-height: 100vh;
  background-color: #fff;
  color: #212529;
}

figure {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

figure img {
  width: 100%;
  height: 220px;
  max-width: 220px;
  border-radius: 50%;
  background-color: #00b8dd;
  margin: 30px;
}

.contact {
  height: 100vh;
  background-color: #212529;
  color: #fff;
}

.categories {
  height: 100vh;
  background-color: #fff;
  color: #212529;
}

.footer {
  border-top: 1px solid #8E8C84;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 0.9rem 0;
  font-size: 1rem;
  background: #212529;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  text-align: center;
}

body {
  position: relative;
}

.text {
  color: #fff;
}

.text-primary {
  color: #00b8dd !important;
}
/*# sourceMappingURL=style.css.map */