@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
.bg-primary {
  background-color: #3E3F3A !important;
}

.bg-dark {
  background-color: #8E8C84 !important;
}

.bg-light {
  background-color: #F8F5F0 !important;
}

.sandstone, .navbar .nav-link, .btn, .nav-tabs .nav-link, .nav-pills .nav-link, .breadcrumb, .pagination, .dropdown-menu .dropdown-item, .tooltip {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-form input,
.navbar-form .form-control {
  border: none;
}

.btn:hover {
  border-color: transparent;
}

.btn-success, .btn-warning {
  color: #fff;
}

.table .thead-dark th {
  background-color: #3E3F3A;
}

.nav-tabs .nav-link {
  background-color: #F8F5F0;
  border-color: #DFD7CA;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: #00b8dd;
}

.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  background-color: #F8F5F0;
  border-color: #DFD7CA;
  color: #DFD7CA;
}

.nav-pills .nav-link {
  border: 1px solid transparent;
  color: #00b8dd;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  background-color: #F8F5F0;
  border-color: #DFD7CA;
}

.nav-pills .nav-link.disabled,
.nav-pills .nav-link.disabled:hover {
  background-color: transparent;
  border-color: transparent;
  color: #DFD7CA;
}

.breadcrumb {
  border: 1px solid #DFD7CA;
}

.pagination a:hover {
  text-decoration: none;
}

.alert {
  color: #fff;
}

.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}

.alert-primary, .alert-primary > th, .alert-primary > td {
  background-color: #00b8dd;
}

.alert-secondary, .alert-secondary > th, .alert-secondary > td {
  background-color: #8E8C84;
}

.alert-success, .alert-success > th, .alert-success > td {
  background-color: #93C54B;
}

.alert-info, .alert-info > th, .alert-info > td {
  background-color: #29ABE0;
}

.alert-danger, .alert-danger > th, .alert-danger > td {
  background-color: #d9534f;
}

.alert-warning, .alert-warning > th, .alert-warning > td {
  background-color: #F47C3C;
}

.alert-dark, .alert-dark > th, .alert-dark > td {
  background-color: #3E3F3A;
}

.alert-light, .alert-light > th, .alert-light > td {
  background-color: #F8F5F0;
}

.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #3E3F3A;
}

.badge-success, .badge-warning {
  color: #fff;
}

.close {
  color: #DFD7CA;
  opacity: 1;
}

.close:hover {
  color: #b9a78a;
}

.navbar .navbar-brand img {
  width: 50%;
}

.navbar .nav-item .active {
  color: #00b8dd;
}

.navbar .nav-link,
.navbar .dropdown-item {
  color: #3E3F3A !important;
  font-size: .8rem;
}

.navbar .nav-link:active,
.navbar .dropdown-item:active {
  color: #00b8dd !important;
}

.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #00b8dd !important;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../image/home-office.jpg");
}

.hero .carousel {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00b8dd;
  background: rgba(0, 0, 0, 0.8);
}

.hero .carousel-inner {
  text-align: center;
}

.hero .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #00b8dd;
}

.about {
  min-height: 100vh;
  background-color: #8E8C84;
}
/*# sourceMappingURL=style.css.map */