@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  text-align: center;
}

body {
  position: relative;
}

.my-btn-outline {
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  background: transparent !important;
  border: 2px solid #fff;
}

.my-btn-outline:hover {
  color: #00b8dd;
  background: #fff !important;
  border: 2px solid #fff !important;
}

.my-btn-primary {
  color: #fff !important;
  background-color: #00b8dd !important;
}

.my-btn-primary:hover {
  color: #fff;
  background: #8E8C84 !important;
}

.text {
  color: #fff;
}

.text-primary {
  color: #00b8dd !important;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bg-primary {
  background-color: #212529 !important;
}

.bg-dark {
  background-color: #fff !important;
}

.bg-light {
  background-color: #fff !important;
}

.sandstone, .navbar .nav-link, .btn, .nav-tabs .nav-link, .nav-pills .nav-link, .breadcrumb, .pagination, .dropdown-menu .dropdown-item, .tooltip {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-form input,
.navbar-form .form-control {
  border: none;
}

.btn {
  background-color: #dfdfdf;
  padding: 5px 15px;
  line-height: 25px;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn:hover {
  border-color: transparent;
}

.btn-success, .btn-warning {
  color: #fff;
}

.btn-my:hover {
  color: #fff;
  background-color: #00b8dd;
}

.table .thead-dark th {
  background-color: #212529;
}

.nav-tabs .nav-link {
  background-color: #F8F5F0;
  border-color: #dfdfdf;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: #00b8dd;
}

.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  background-color: #F8F5F0;
  border-color: #dfdfdf;
  color: #dfdfdf;
}

.nav-pills .nav-link {
  border: 1px solid transparent;
  color: #00b8dd;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  background-color: #f7f7f7;
  border-color: #00b8dd;
}

.nav-pills .nav-link.disabled,
.nav-pills .nav-link.disabled:hover {
  background-color: transparent;
  border-color: transparent;
  color: #dfdfdf;
}

.breadcrumb {
  border: 1px solid #dfdfdf;
}

.pagination a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f7f7f7;
}

.alert {
  color: #fff;
}

.alert a,
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}

.alert-primary,
.alert-primary > th,
.alert-primary > td {
  background-color: #00b8dd;
}

.alert-secondary,
.alert-secondary > th,
.alert-secondary > td {
  background-color: #fff;
}

.alert-success,
.alert-success > th,
.alert-success > td {
  background-color: #93C54B;
}

.alert-info,
.alert-info > th,
.alert-info > td {
  background-color: #29ABE0;
}

.alert-danger,
.alert-danger > th,
.alert-danger > td {
  background-color: #d9534f;
}

.alert-warning,
.alert-warning > th,
.alert-warning > td {
  background-color: #F47C3C;
}

.alert-dark,
.alert-dark > th,
.alert-dark > td {
  background-color: #212529;
}

.alert-light,
.alert-light > th,
.alert-light > td {
  background-color: #fff;
}

.alert-light,
.alert-light a:not(.btn),
.alert-light .alert-link {
  color: #fff;
}

.badge-success, .badge-warning {
  color: #fff;
}

.close {
  color: #dfdfdf;
  opacity: 1;
}

.close:hover {
  color: #acacac;
}

.navbar .navbar-toggler {
  border: 0;
  padding: 10px 5px 10px 3px;
  cursor: pointer;
}

.navbar .navbar-brand {
  width: 200px;
}

.navbar .navbar-brand img {
  width: 80%;
}

.navbar .nav-item > .nav-link.active {
  color: #00b8dd !important;
}

.navbar .nav-link,
.navbar .dropdown-item {
  color: #212529 !important;
  font-size: .8rem;
}

.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #00b8dd !important;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../image/home-office.jpg");
  background-attachment: fixed;
  background-position: center;
  background-origin: border-box;
}

.hero h1 {
  font-size: 2.5rem;
  color: #fff;
}

.hero .carousel {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00b8dd;
  background: rgba(0, 0, 0, 0.8);
}

.hero .carousel-inner,
.hero h2 {
  text-align: center;
}

.hero .carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .carousel-indicators li {
  width: 20px;
  height: 20px;
  background-color: #00b8dd;
}

.hero .carousel-item {
  width: 100%;
  padding: 20px;
}

/* max-width  */
@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
    text-align: center;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .hero .carousel-item {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}

.about {
  min-height: 100vh;
  background-color: #F8F5F0;
  color: #212529;
}

.about figure {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.about figure img {
  width: 100%;
  height: 220px;
  max-width: 220px;
  border-radius: 50%;
  background-color: #00b8dd;
  margin: 30px;
}

.skills,
.experience {
  width: 49%;
}

.skills {
  text-align: right;
}

.skills h3 {
  color: #00b8dd;
  font-weight: 300;
}

.experience {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience h3 {
  color: #212529;
  font-weight: 300;
}

.experience li {
  list-style: none;
}

.experience a {
  text-transform: capitalize;
  color: #00b8dd;
}

.experience a:hover {
  color: #212529;
  text-decoration: none;
}

/* max-width  */
@media screen and (max-width: 576px) {
  .about figure img {
    height: 150px;
    max-width: 150px;
  }
  .skills,
  .experience {
    width: 100%;
    margin-top: 20px;
  }
  .skills {
    text-align: left;
  }
}

.contact {
  min-height: 100vh;
  background-color: #212529;
  color: #fff;
}

.contact .means-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.contact .means-contact,
.contact .form-contact {
  width: 50%;
  margin-top: 10px;
}

.contact .means-contact h2,
.contact .form-contact h2 {
  color: #00b8dd;
  text-align: left;
  font-size: 1.5rem;
}

.contact p {
  text-align: center;
}

.contact h3 {
  font-size: 1rem;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  list-style: none;
}

.contact ul li:first-child {
  margin-left: 0;
}

.contact ul li a {
  color: #00b8dd;
}

.contact ul li i {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
}

.contact ul li i:hover {
  color: #00b8dd;
}

@media screen and (max-width: 576px) {
  .means-contact {
    width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .means-contact h2 {
    margin-top: 20px;
    color: #00b8dd;
    text-align: left;
    font-size: 1.5rem;
  }
  .means-contact h3 {
    font-size: 1rem;
  }
  .form-contact {
    width: 100% !important;
  }
  .form-contact h2 {
    color: #00b8dd;
    text-align: center;
    font-size: 1.5rem;
  }
}

.categories {
  height: 100vh;
  background-color: #fff;
  color: #212529;
}

.footer {
  height: 5vh;
  border-top: 1px solid #8E8C84;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem 0;
  font-size: 1rem;
  background: #212529;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-right: 30px;
}

.articles li .active {
  color: #fff;
  background-color: #00b8dd;
}

.articles .article {
  margin-bottom: 20px;
  border-bottom: 1px solid #ced4da;
  padding-bottom: 20px;
}

.articles .article:last-child {
  border: 0;
}

.articles .article h3 {
  font-weight: 400;
  text-transform: capitalize;
}

.articles .article a {
  color: #00b8dd;
  text-decoration: none;
}

.articles .article a h3 {
  color: #495057;
}

.articles .article a h3:hover {
  color: #00b8dd;
}

.articles .article a:hover {
  color: #495057;
}

.articles .article small {
  text-transform: capitalize;
  color: #495057;
}

.articles .article small p,
.articles .article small a {
  margin: 0;
  padding: 0;
}

.articles .article figure {
  margin: 10px 0;
}

.articles .article figure img {
  width: 100%;
  image-rendering: optimizeQuality;
}

.sidebar {
  width: 20%;
}

.sidebar h2 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  color: #00b8dd;
  margin-bottom: 30px;
}

.sidebar img {
  width: 100%;
  image-rendering: optimizeQuality;
}

.sidebar .last-posts {
  margin-top: 20px;
}

.sidebar .last-posts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .last-posts div small {
  font-size: 1.5rem;
  color: #98978B;
}

.sidebar .last-posts div a {
  width: 100%;
  text-transform: capitalize;
  color: #00b8dd;
  font-size: 1rem;
  margin-bottom: 10px;
  text-decoration: none;
}

.sidebar .last-posts div a:hover {
  color: #98978B;
}

@media screen and (max-width: 576px) {
  .articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-right: 0px;
  }
  .sidebar {
    width: 100%;
    margin-top: 30px;
  }
  .sidebar .last-posts {
    margin-top: 30px;
  }
  .sidebar .last-posts div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar .last-posts div small {
    color: #98978B;
  }
  .sidebar .last-posts div a {
    width: 100%;
    text-transform: capitalize;
    color: #00b8dd;
    font-size: 1rem;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .sidebar .last-posts div a:hover {
    color: #98978B;
  }
}
/*# sourceMappingURL=style.css.map */