.navbar {

    background: $secondary;

    .navbar-toggler {
        border: 0;
        padding: 10px 5px 10px 3px;
        cursor: pointer;
    }


    .navbar-brand {
        width: 200px;

        img {
            width: 80%;
        }
    }

    .nav-item>.nav-link.active {
        color: $my-blue !important;
    }


    .nav-link,
    .dropdown-item {
        color: $dark !important;
        font-size: .8rem;

        &:hover {
            color: $my-blue !important;
        }
    }
}


.dropdown-menu {
    background: $secondary !important;
    border: 1px solid $gray-200 !important;
}

.cat-item {

    padding: 5px 10px;
    text-align: start;
    border-bottom: 1px solid $gray-100;

    &:last-child {
        border-bottom: 0;
    }

    &:hover {
        background: $gray-100;
    }


    a {
        color: $dark;
        display: block;
        text-transform: uppercase;
        font-size: .67rem;
        font-weight: 500;

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }
}